/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@layer base{
    body {
        @apply font-lato
    }

    .sidebar-scroll::-webkit-scrollbar{
        display: none;
        width: 8px;
        background: transparent;
        padding: 0 20px
    }

    .sidebar-scroll:hover::-webkit-scrollbar{
        display: block;
        transition: all .50s ease;
    }

    .sidebar-scroll::-webkit-scrollbar-thumb{
        width: 4px;
        height: 20px;
        @apply bg-light-purple;
        border-radius: 45px;
    }
}

